page-login {
    .login{
        background-color: map-get($colors, primary);
    }
    .image {
        height: 5vw; 
        width: 5vw; 
       border: 2px solid #fff;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
   }
   
   .circle-pic{
       width:50%;
       height:50%;
       -webkit-border-radius: 50%;
       border-radius: 50%;
       margin-left: 25%;
       margin-top: 15%;

   }
   .loginItem{
       color: white;       
       background: transparent;
      
   }
   .loginInput{
        text-align: center;   
   }
   .item-inner{
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
   }
    
   a[disabled], button[disabled], [ion-button][disabled] {
    cursor: default;
    opacity: 0.8;
    pointer-events: none;
    }
    .login-button {
        text-align:center;
        margin-top: 5%;
    }
      
}
