<ion-header >
</ion-header>
<ion-content padding class="login">
    <ion-grid>
      <ion-row>
        <ion-col><img class="circle-pic" src="assets/img/login.png" /></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form [formGroup]="myForm" (ngSubmit)="loginUser()">
              <ion-item class="loginItem">
                <ion-icon name="person" item-left></ion-icon>
                <ion-input class = "loginInput" formControlName="email" type="text" placeholder="Username"></ion-input>
              </ion-item>
              <ion-item class="loginItem">
                <ion-icon name="key" item-left></ion-icon>
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
              </ion-item>
            <div padding class="login-button">
              <button  color="light" ion-button round outline block type="submit" [disabled]="!myForm.valid">{{ 'global.ingresar' | translate }}</button>
            </div>
          </form> 
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
