<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'global.'+capacity | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/test/mGruesa/MG.png">
      </ion-avatar>
      <h2 text-wrap text-uppercase>{{currentQuestion.title}}</h2>
      <p>Numero de Mes {{currentQuestion.month}}</p>
    </ion-item>

    <img [src]="'assets/img/test/'+capacity+'/'+currentQuestion.image+'.jpg'">

    <ion-card-content>
      <p>{{currentQuestion.message}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button (click)="nextQuestion(false)" *ngIf="currentQuestion.month<30 && currentQuestion.month>-1">
          <div>{{ 'global.no' | translate }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="nextQuestion(true)" *ngIf="currentQuestion.month<30 && currentQuestion.month>-1">
          <div>SI</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>