page-quiz {
    .mGruesa{
        background-color: #5F7AAB;
        color:white;
        width: 100%;
        height: 100%;
    }
    .mFina{
        background-color: #72B8A7;
        color:white;
        width: 100%;
        height: 100%;
    }
    .aL{
        background-color: #B688AE;
        color:white;
        width: 100%;
        height: 100%;
    }
    .pS{
        background-color: #DBE9CD;
        color:black;
        width: 100%;
        height: 100%;
    }
    ion-row {
        height: 25%;
    }
    .grid {
    height: 100%;
        padding: 0px;
    }
    .titleRow{
        margin-top: 34%;
        margin-left: 20%;
    }
}
