<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{currentChild.names}} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goResult()">
        <ion-icon name="clipboard" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row (click)="goQuestions('MG')">
      <ion-col class="mGruesa">
        <div>
          <p class="titleRow">{{ 'global.MG' | translate}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/mg.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row (click)="goQuestions('MF')">
      <ion-col class="mFina">
        <div>
          <p class="titleRow">{{ 'global.MF' | translate}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/mf.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row (click)="goQuestions('AL')">
      <ion-col class="aL">
        <div>
          <p class="titleRow">{{ 'global.AL' | translate}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/al.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row (click)="goQuestions('PS')">
      <ion-col class="pS">
        <div>
          <p class="titleRow">{{ 'global.PS' | translate}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/mg.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>