page-result {
   
    ion-row {
        height: 40%;
    }
    .grid {
    height: 100%;
        padding: 0px;
    }

    .resultList{
        height: 60%;
    }
    .colList{
        padding-top: 20%;
    }
    .cardPoints{
        height: 100%;
        width: 50%;
        margin-top: 10%;
        margin-left: 25%;
        background-color: #4C53F3;
        
    } 
    .rowTop{
        background-color: #F3F3F3;
    }
    .titleCard{
        font-size: 12.4rem;
        color: white;
        text-align: center;
    }
    .cardContent{
        color:white;
    }

}
