<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'global.historial'| translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="rowTop">
      <ion-card class="cardPoints">
        <ion-card-content>
          <ion-card-title class="titleCard">
            {{currentHistory.total}}
          </ion-card-title>
          <p class="cardContent">
            Promedio Final. execelente
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="resultList">
      <ion-col class="colList">
        <ion-list no-border>
          <ion-item>
            <ion-icon name='planet' item-start></ion-icon>
              Motricidad Gruesa
            <ion-note item-end>
                {{currentHistory.mg}} puntos.
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name='planet' item-start></ion-icon>
            <ion-label>
              Motricidad Fina
            </ion-label>
            <ion-note item-end>
              {{currentHistory.mf}} puntos.
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name='leaf' item-start></ion-icon>
            Audicion y Lenguaje
            <ion-note item-end>
              {{currentHistory.al}} puntos.
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name='flask' item-start></ion-icon>
            Personal Social
            <ion-note item-end>
              {{currentHistory.ps}} puntos.
            </ion-note>
          </ion-item>
        </ion-list>

        <button  color="light" ion-button round outline block (click)="goToList()">Evaluacion Terminada</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>