<ion-header>
  <ion-navbar color="primary">
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-top>
  <ion-item-group>
    <ion-item-divider class="listHeader">
      <ion-row>
        <ion-col col-5>Fecha de Evaluación</ion-col>
        <ion-col col-5>Edad (meses)</ion-col>
        <ion-col col-2>TOTAL</ion-col>
      </ion-row>
    </ion-item-divider>
    <ion-item *ngFor="let history of historyList " (click)="goToResult(history)">
      <ion-row align-items-center>
        <ion-col col-5 center>{{history.date}}</ion-col>
        <ion-col col-5>{{history.edadMeses}}</ion-col>
        <ion-col col-2>{{history.total}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>
</ion-content>