<ion-header>

  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="filterItems($event)" (ionCancel)="setItems"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let child of childrenList ">
      <ion-avatar item-start>
        <img src="assets/img/{{child.sexo==='Femenino'?'nina.png' : 'nino.png'}}">
      </ion-avatar>
      <h2>{{child.names}}</h2>
      <p>{{child.lastName}}</p>
      <ion-icon name="play" item-end (click)="goTest(child)"></ion-icon>
      <ion-icon name="clipboard" item-end (click)="goHistory(child)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToRegister()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>