<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="slideOneForm" (ngSubmit)="addChild()">
    <ion-list>
      <ion-item>
        <ion-label floating>Apellido Paterno</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Apellido Materno</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nombres</ion-label>
        <ion-input formControlName="names" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-range min="1" max="50" pin="true" formControlName="peso" color="secondary">
          <ion-label range-left>1kg</ion-label>
          <ion-label range-right>50kg</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="1" max="100" pin="true" formControlName="talla" color="secondary">
          <ion-label range-left>1cm</ion-label>
          <ion-label range-right>100cm</ion-label>
        </ion-range>
      </ion-item>
      <ion-row radio-group formControlName="sexo">
        <ion-col>
          <ion-item>
            Sexo
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Hombre</ion-label>
            <ion-radio checked="true" value="Masculino"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Mujer</ion-label>
            <ion-radio value="Femenino"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
          <ion-label>Fecha de Nacimiento</ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY" min="2016" max="2020" formControlName="evalDate"></ion-datetime>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!slideOneForm.valid">Crear</button>
    </div>
  </form>
</ion-content>