<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div>
  Hola {{currentUser.email}} comencemos con la evaluacion
</div>
<div>
  <button ion-button block (click)="goToList()">Ver Lista de Niños</button>
  <button ion-button block (click)="goToRegister()">Agregar Nuevo</button>
</div>
</ion-content>
